.header{
    background-image: url("./header-picture.jpg");
    background-repeat: 'no-repeat';
    background-size: cover;
    background-position: center;
    height: 300px;
    font-weight: 900;
    color: #0F0D10
}